body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map, #cuestionario, #datos {
    box-sizing: border-box;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

@media (min-width: 1602px){
    #map {
        height: 100%;
        width: 85.5%;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        float: left;
    }
    
    #cuestionario {
        background: lightyellow;
        float: right;
        position: relative;
        display: block;
        height: 50%;
        width: 14.5%;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        font-family: Arial, Helvetica, sans-serif;
    }
    #datos {
        background: lightyellow;
        float: right;
        position: relative;
        display: block; /* Siempre visible */
        height: 50%;
        width: 14.5%;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        font-family: Arial, Helvetica, sans-serif;
    }
    
}
@media (max-width:1602px) {
    #map {
        height: 100%;
        width: 70%;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        float: left;
    }
    
    #cuestionario {
        background: lightyellow;
        float: right;
        position: relative;
        display: block;
        height: 50%;
        width: 30%;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        font-family: Arial, Helvetica, sans-serif;
    }
    #datos {
        background: lightyellow;
        float: right;
        position: relative;
        display: block; /* Siempre visible */
        height: 50%;
        width: 30%;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        font-family: Arial, Helvetica, sans-serif;
    }
    
}



#resultado {
    display: none; /* Inicialmente oculto */
}
